.home {
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 0.6fr .4fr; */
    /* grid-template-columns: 0.5fr .7fr; */
    overflow: hidden;
}

.left {
    width: 100%;
    padding: 2rem;
}

.left .nav {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.left .left-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 1rem; */
}

.left-content h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--chakra-colors-blue-300);
}

.left-content p {
    font-size: 1.5rem;
    line-height: 1.1;
    color: var(--chakra-colors-whatsapp-500);
}

.right {
    /* padding: 2rem; */
    padding-top: 0;
    width: 100%;
    height: 100%;
    /* background-color: var(--prussian-blue); */
    background: url('./bycycle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

}



.right__top {
    width: 100%;
    align-items: end;
    justify-content: end;
    gap: 1rem;
}

.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 1rem;
}

.termService {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    height: 10%;
}

.link-container {
    gap: 1rem;
    flex-wrap: wrap;
}

.auth-section h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #f8d486;
}

.link-container a {
    /* padding: 0.6rem 1rem; */
    padding: 2rem 2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    /* background-color: var(--caribbean-current); */
    background-color: #ff8033;
    border: 2px solid var(--caribbean-current);
    color: var(--white) !important;

}

.link-container .chatai {
    background-color: #1abc9c;
    /* color: black !important; */
}

.link-container .video {
    background-color: #fc5e5d;
    /* color: black !important; */
}


.link-container .postvideo {
    background-color: #ff8033;
}

.link-container .mail {
    background-color: #7ccb70;
}

.link-container .admin-panel {
    background-color: #fc5e5d;

}

.link-container .contacts {
    background-color: #29911d;
}

.link-container a:hover {
    /* background-color: transparent; */
    background-color: blue;
}

.services p {
    color: gray;
}

.services span {
    height: 90%;
    border: 1px solid gray;
    color: gray;
}

.logo {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(111, 111, 168); */
    padding: 10px;
}

.setting-logout {
    display: flex;
    justify-content: space-between;
}

.logoutbtn {
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.logo {
    display: flex;
    justify-content: space-between;
}


.right .navbar {
    background-color: rgb(66, 127, 151);
    padding: 5px 10px !important;
}


@media screen and (max-width:1050px) {
    .link-container {
        width: 70%;
    }

    .link-container a,
    .link-container p {
        padding: .7rem 1rem;
        font-size: 1rem;
    }
}

@media screen and (max-width:700px) {
    .link-container {
        width: 70%;
    }

    .link-container a,
    .link-container p {
        padding: .7rem 1rem;
        font-size: .75rem;
    }
}